page-result {
  .successCheck{
    color: green;
  }

  .errorCheck{
    color: red;
  }

  .successCheck,.errorCheck{
    font-size: 70px;
  }

  ion-row{
    text-align: center;
    font-size: 30px;
  }

  .toolbar-title,.scroll-content{
      font-family: UbuntuRegular;
  }

  .scroll-content{
      background-color: #ececec;
          background-image: url(../assets/imgs/branding/backgroundImageResult.PNG);
          background-repeat: no-repeat;
          background-position: 100% 100%;
          background-size: 100% 100%;
          color: #007db1;
  }

  .resultGrid{
    margin-top:40%;
  }

}
